@-moz-viewport { width: device-width; scale: 1; }
@-ms-viewport { width: device-width; scale: 1; }
@-o-viewport { width: device-width; scale: 1; }
@-webkit-viewport { width: device-width; scale: 1; }
@viewport { width: device-width; scale: 1; }

html {
  box-sizing: border-box;

  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;
}

*, *::before, *::after {
  box-sizing: inherit;
}

header {
  width: 100%;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
}

.pad-main {
  padding-top: 80px;
}

.anchor {
  display: block;
  height: 80px;
  margin-top: -80px;
  visibility: hidden;
}

h1, h2, h3, h4 {
  font-family: "t26-carbon", monospace;
  font-style: normal;
  font-weight: 700;
}

h1 {
  margin: 0;
}

.white-bg {
  background: #fdfdfd;
  color: #000032;
}

.white-text{
  color: #fdfdfd;
}

p, a, figcaption, blockquote, cite{
  font-family: "t26-carbon", monospace;
  font-style: normal;
  font-weight: 400;
}

figcaption, cite {
  font-style: italic;
}

body {
  margin: 0;
  padding: 0;
  background: #2c3e50;
  color: #fdfdfd;
}

a {
  text-decoration: none;
  color: #000032;
  transition: color 0.3s ease;
  display: block;
}

a.brand-shadow-a:hover {
    text-shadow: -1.25px 0  #ef464c, 1.25px 0 #6ebcdb;
}

#menu-toggle {
  display: block;
  position: fixed;
  z-index: 2;
  -webkit-user-select: none;
  user-select: none;
  padding-top: 23px;
}

#menu-toggle input {
  display: block;
  width: 64px;
  height: 64px;
  position: absolute;
  top: -7px;
  left: -5px;
  cursor: pointer;
  opacity: 0;
  z-index: 2;
  -webkit-touch-callout: none;
}

#menu-toggle span {
  display: block;
  width: 33px;
  height: 4px;
  margin-bottom: 5px;
  position: relative;
  background: #ef464c;
  border-radius: 3px;
  z-index: 1;
  transform-origin: 4px 0px;
  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              opacity 0.55s ease;
}

#menu-toggle span:first-child {
  transform-origin: 0% 0%;
}

#menu-toggle span:nth-last-child(2) {
  transform-origin: 0% 100%;
}

#menu-toggle input:checked ~ span {
  opacity: 1;
  transform: rotate(45deg) translate(-2px, -1px);
  background: #ef464c;
}

#menu-toggle input:checked ~ span:nth-last-child(3) {
  opacity: 0;
  transform: rotate(0deg) scale(0.2, 0.2);
}

#menu-toggle input:checked ~ span:nth-last-child(2) {
  transform: rotate(-45deg) translate(0, -1px);
}

#menu {
  position: absolute;
  width: 300px;
  margin: -100px 0 0 -150px;
  padding-top: 100px;
  padding-bottom: 5px;
  background: #fdfdfd;
  list-style-type: none;
  -webkit-touch-callout: none;
  transform-origin: top right;
  transform: translate(100%, 0);
  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
}

#menu li {
  padding: 10.75px 0;
}

#menu-toggle input:checked ~ ol {
  transform: none;
}

.container {
    position: relative;
}

.image {
  opacity: 1;
  display: block;
  width: 100%;
  height: auto;
  transition: .25s ease;
  backface-visibility: hidden;
}

.middle {
  transition: .25s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%)
}

.container:hover .image {
  opacity: 0.65;
}

.container:hover .middle {
  opacity: 1;
}

.text {
  background-color: #ef464c;
  color: white;
  padding: 16px 24px;
  border-radius: 8px;
}

.text p {
  margin: 0;
}

.red {
  border-bottom: 2.5px solid #ef464c;
}

.sec-nav {
  background-color: black;
}

.video-responsive {
  overflow: hidden;
  padding-bottom: 56.25%;
  position: relative;
  height: 0;
}

.video-responsive iframe {
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  position: absolute;
}

.shift-center {
  top: 50%;
  transform: translateY(-50%)
}

.shift-bottom {
  top: auto;
  bottom: 0;
}

#home {
  animation: glitch 2.5s linear infinite 3s;
  width: 50px;
}

@keyframes glitch {

  0% {
    filter: none;
  }

  15% {
    filter: drop-shadow(-3px 0 0.025px #6ebcdb) drop-shadow(3px 0 0.025px #ef464c);
  }

  20% {
    filter: drop-shadow(-2px 0 0.025px #6ebcdb) drop-shadow(2px 0 0.025px #ef464c);
  }

  25% {
    filter: drop-shadow(-1.5px 0 0.025px #6ebcdb) drop-shadow(1.5px 0 0.025px #ef464c);
  }

  30% {
    filter: drop-shadow(-2px 0 0.025px #6ebcdb) drop-shadow(2px 0 0.025px #ef464c);
  }

  35% {
    filter: drop-shadow(-3px 0 0.025px #6ebcdb) drop-shadow(3px 0 0.025px #ef464c);
  }

  50% {
    filter: none;
  }

  100% {
    filter: none;
  }

}

#light-bulb {
  animation: glow 5s linear infinite 1.5s;
  fill: black;
}

@keyframes glow {

  0% {
    filter: none;
  }

  20% {
    fill: #ef464c;
  }

  25% {
    filter: drop-shadow(0 0 15px #ef464c);
    fill: #ef464c;
  }

  30% {
    filter: drop-shadow(0 0 15px #ef464c);
    fill: #300608;
  }

  50% {
    filter: none;
    fill: black;
  }

  70% {
    fill: #6ebcdb;
  }

  75% {
    filter: drop-shadow(0 0 15px #6ebcdb);
    fill: #6ebcdb;
  }

  80% {
    filter: drop-shadow(0 0 15px #6ebcdb);
    fill: #112e3a;
  }

  100% {
    filter: none;
  }

}

@media only screen and (min-width: 38em) {

  .anchor {
    height: 90px;
    margin-top: -90px;
  }

  #menu-toggle {
    padding-top: 26px;
  }

  a.brand-shadow-a:hover {
    text-shadow: -1.5px 0  #6ebcdb, 1.5px 0 #ef464c;
  }

}

@media only screen and (min-width: 60em) {

  #menu-toggle {
    padding-top: 28px;
  }

  a.brand-shadow-a:hover {
    text-shadow: -1.75px 0  #6ebcdb, 1.75px 0 #ef464c;
  }

}

@media only screen and (min-width: 90em) {

  a.brand-shadow-a:hover {
    text-shadow: -2px 0  #6ebcdb, 2px 0 #ef464c;
  }

}
