<!DOCTYPE html>
<html lang="en-ca">
<head>
  <meta charset="utf-8">
  <title>Hannah Douglas</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="{{site.baseurl}}/css/modules.css" rel="stylesheet">
  <link href="{{site.baseurl}}/css/grid.css" rel="stylesheet">
  <link href="{{site.baseurl}}/css/type.css" rel="stylesheet">
  <link href="{{site.baseurl}}/css/main.css" rel="stylesheet">
</head>
<body>

  <header class="white-bg">
    <h1 id="home" class="island-1-2">hd.</h1>
  </header>
  <ul class="skip-links">
    <li><a href="#nav">Jump to navigation</a></li>
    <li><a href="#project-cards">Jump to project card display</a></li>
  </ul>

  <nav role="navigation" id="nav">
    <div id="menu-toggle" class="pin-rt island-1-2">
      <input type="checkbox" />
      <span></span>
      <span></span>
      <span></span>
      <ol id="menu" class="list-group gutter mega">
        <li><a href="{{site.baseurl}}/#home" class="brand-shadow-a">Home</a></li>
        <li><a href="{{site.baseurl}}/#bio" class="brand-shadow-a">About Me</a></li>
        <li><a href="{{site.baseurl}}/#projects" class="brand-shadow-a">Projects</a></li>
        <li><a href="{{site.baseurl}}/#contact" class="brand-shadow-a">Contact</a></li>
      </ol>
    </div>
  </nav>

  {{content}}

  <footer>
    <div class="white-bg gutter-1-2 pad-b">
      <div class="wrapper max-length">
        <h3 class="pad-t" id="contact">Contact Me</h3>
        <p class="wrapper max-length">Message me or see more my work in the links below.</p>
        <ul class ="list-group-inline push-0 mega text-center">
          <li><a href="mailto:hannah@hannahdouglas.work" itemprop="email" class="island-1-4 brand-shadow-a">email.</a></li>
          <li><a href="https://www.behance.net/hldouglas" itemprop="url" class="island-1-4 brand-shadow-a">behance.</a></li>
          <li><a href="https://www.linkedin.com/in/hannah-douglas-9a86b7148" itemprop="url" class="island-1-4 brand-shadow-a">linkedin.</a></li>
          <li><a href="https://vimeo.com/ninjamunchkin" itemprop="url" class="island-1-4 brand-shadow-a">vimeo.</a></li>
          <li><a href="https://www.instagram.com/ninja_munchkin11/" itemprop="url" class="island-1-4 brand-shadow-a">instagram.</a></li>
        </ul>
      </div>
    </div>
    <div class="wrapper max-length">
      <p class="pad-t milli gutter-1-2">© Hannah Douglas</p>
    </div>
  </footer>

  <script src="{{site.baseurl}}/css/typekit.js"></script>
</body>
</html>
