---
layout: default
---

  {{content}}

  <div class="sec-nav pad-t pad-b">
    <div class="wrapper max-length">
      <h4 class="gutter-1-2 pad-b-1-2 push-0">See More Projects</h4>
      <nav>
        <ol class="list-group gutter-1-2 push-0">
          <li class="pad-b-1-4 pad-t-1-4"><a href="{{site.baseurl}}/ui-mirror/" class="white-text brand-shadow-a">UI Mirror</a></li>
          <li class="pad-b-1-4 pad-t-1-4"><a href="{{site.baseurl}}/parallax/" class="white-text brand-shadow-a">Parallax</a></li>
          <li class="pad-b-1-4 pad-t-1-4"><a href="{{site.baseurl}}/brand-identity/" class="white-text brand-shadow-a">Filthy Casual: Brand Identity</a></li>
          <li class="pad-b-1-4 pad-t-1-4"><a href="{{site.baseurl}}/stroke-poster/" class="white-text brand-shadow-a">Stroke Poster</a></li>
          <li class="pad-b-1-4 pad-t-1-4"><a href="{{site.baseurl}}/isometric-illustration/" class="white-text brand-shadow-a">Isometric Illustration</a></li>
          <li class="pad-b-1-4 pad-t-1-4"><a href="{{site.baseurl}}/karen-douglas-consulting/" class="white-text brand-shadow-a">Karen Douglas Consulting</a></li>
        </ol>
      </nav>
    </div>
  </div>
